<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AddingEvt</filter-name>
        <filter-class>com.tinyagenda.filters.AddingEvt</filter-class>
    </filter>
    <filter>
        <filter-name>SavingEvt</filter-name>
        <filter-class>com.tinyagenda.filters.SavingEvt</filter-class>
    </filter>
    <filter>
        <filter-name>SigningUp</filter-name>
        <filter-class>com.tinyagenda.filters.SigningUp</filter-class>
    </filter>
    <filter>
        <filter-name>SeeingEvts</filter-name>
        <filter-class>com.tinyagenda.filters.SeeingEvts</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SeeingEvts</filter-name>
        <servlet-name>SeeDayEvents</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SigningUp</filter-name>
        <servlet-name>Signup</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SavingEvt</filter-name>
        <servlet-name>SaveEvent</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AddingEvt</filter-name>
        <servlet-name>DayAddEvent</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>dologin</servlet-name>
        <servlet-class>com.tinyagenda.controller.Dologin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.tinyagenda.controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dologout</servlet-name>
        <servlet-class>com.tinyagenda.controller.Dologout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayAddEvent</servlet-name>
        <servlet-class>com.tinyagenda.controller.DayAddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEvent</servlet-name>
        <servlet-class>com.tinyagenda.controller.SaveEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeDayEvents</servlet-name>
        <servlet-class>com.tinyagenda.controller.SeeDayEvents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dologin</servlet-name>
        <url-pattern>/dologin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dologout</servlet-name>
        <url-pattern>/dologout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayAddEvent</servlet-name>
        <url-pattern>/dayAddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEvent</servlet-name>
        <url-pattern>/saveEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeDayEvents</servlet-name>
        <url-pattern>/seeDayEvents</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>month</welcome-file>
    </welcome-file-list>
</web-app>
